html {
	font-size: 13px;
}
body {
	font-size: 1.1em;	
}
ul,ol {
	list-style-type: none;
}

/* LISTS
*******************/
.inline-list {
	list-style-type: none;
}
.inline-list > li {
	display: inline;
}

/* ANCHOR
******************/
a:hover {
	text-decoration: none;
}

/* BUTTON
******************/
button {
	border: none;
	background: #eee;
}
button.join {
	background: green;
	color: #fff;
	padding: 0 1em;
}

/* FLEX
*****************/
.flex-row {
	display: flex !important;
	flex-direction: row !important;
}
.flex {
	display: flex !important;
}
.flex-1 {
	flex-grow: 1 !important;
}
.no-flex {
	flex: none !important;
}

.open {
	display: block !important;
}
.v-margin {
	margin: auto 0 !important;
}
.margin-auto {
	margin: auto !important;
}
.v-padding {
	padding: 2em 0 !important;
}